@import "css/all.css";

/* ABOUT US */

.about {
  padding-top: 100px;
}

.about h1 {
  font-size: 18px;
  font-weight: bold;
}

.about .dividers {
  margin-bottom: 15px;
}

.about .mainContent {
  overflow: hidden;
}

.about .mainContent p {
  margin-top: 10px;
}

.about .mainContent .letter {
  margin: 35px 0 20px 0;
}

.about .mainContent #mainLeft {
  float: left;
  margin: 5px 25px 10px 0px;
}

@media (max-width: 382px) {
  .about .mainContent #mainLeft {
    float: none;
    display: block;
    margin: auto;
    width: 100%;
  }
}

.about .letter::first-letter {
  color: #bababa;
  font-size: 45px;
  font-weight: bold;
  padding-right: 8px;
  float: left;
  line-height: 1;
}

.about .mainContent blockquote {
  color: #737373;
  font-style: italic;
}
.about .mainContent .quote {
  color: #bababa;
  font-size: 30px;
  float: left;
  padding: 0 10px 50px 0;
}

/* BUTTONS */

.buttons {
  margin-top: 20px;
}

.rainbow-btns {
  color: #fff;
  padding: 10px 15px;
  margin: 0px 15px 20px 0px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

#green {
  background-color: #86a62e;
}

#gray {
  background-color: #c6c6c7;
}

#blue {
  background-color: #598de6;
}

#orange {
  background-color: #df663a;
}

#pink {
  background-color: #d959da;
}

#red {
  background-color: #e55151;
}

#cyan {
  background-color: #54cad3;
}

/* ALERT TEXT */

.alert {
  margin-top: 20px;
}

.rainbow-text h1 {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  padding: 20px 0px;
  margin-bottom: 20px;
}

.alert #greenAlert h1 {
  color: #98c601;
  background-color: #effeb9;
  border: 1px solid #98c601;
}

.alert #redAlert h1 {
  color: #eb5439;
  background-color: #fbcbc1;
  border: 1px solid #eb5439;
}

.alert #orangeAlert h1 {
  color: #fab418;
  background-color: #ffe9ad;
  border: 1px solid #fab418;
}

.alert #blueAlert h1 {
  color: #4d8fcb;
  background-color: #d1e4f3;
  border: 1px solid #4d8fcb;
  margin-bottom: 0;
}

.about .mainContent .col-lg-6,
.about .mainContent .col-lg-4 {
  display: inline-block;
  float: left;
}
