@import "css/all.css";

/* BLOG */

.blog {
  padding: 100px 0px;
}

.blog h1 {
  font-size: 18px;
  font-weight: bold;
}

.blog .main-title {
  text-decoration: none;
  color: #2f2f2f;
}

.blog .main-title:hover {
  font-weight: bold;
  text-decoration: underline;
}

.blog .dividers {
  margin-bottom: 15px;
}

.blog-item {
  margin-bottom: 20px;
}

.blog .main-content {
  overflow: hidden;
}

.blog .blog-main-image img {
  width: 100%;
  margin-bottom: 20px;
}

.blog-content {
  padding: 10px 0px;
}

.blog-content h2 {
  color: #464646;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
}

.blog-content .left p {
  color: #bababa;
  font-size: 13px;
  font-weight: bold;
}

.blog-content .left a {
  display: inline-block;
  color: #bababa;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 15px;
}

.blog-content .left a:hover {
  color: #2f2f2f;
  text-decoration: underline;
}
