@import "css/all.css";

/* CAROUSEL */

.slider {
  background: url(img/headerBg.jpg);
  padding: 100px 0;
}

.slider h1 {
  color: #fff;
  font-size: 30px;
  padding-bottom: 15px;
}

.slider p {
  color: #e8e8e8;
}

.slider .slideBtn {
  color: #ffffff;
  background-color: #9e9e9e;
  font-weight: bold;
  padding: 8px 30px;
  margin-top: 10px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.slider .slideBtn:hover {
  color: #2f2f2f;
}

@media (max-width: 991px) {
  .slide .slideImg img {
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 576px) {
  .slide .slideImg img {
    width: 100%;
  }
}

/* BLOCKS */

.blocks {
  border-top: 4px solid #242424;
}

.blocks .block {
  background-color: white;
  margin: -80px 25px 0 0;
  max-width: 260px;
}

.blocks .block::before,
.blocks .block::after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.blocks .block::before {
  top: 20%;
  left: 0;
  width: 2%;
  height: 50%;
}

.blocks .block::after {
  top: 20%;
  right: 0;
  width: 2%;
  height: 50%;
}

.blocks h1 {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 10px;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .blocks .block-first-title {
    height: 82px;
  }
}

.blocks .lighter-paragraph {
  color: #8e8e8e;
}

.blocks p {
  padding: 0px 10px;
  line-height: 1.3em;
}

.block img {
  padding: 0px 10px;
  margin-bottom: 10px;
}

.block a {
  color: black;
  font-weight: bold;
  padding: 0px 10px;
}

@media only screen and (max-width: 1199px) and (min-width: 991px) {
  .block img {
    width: 110%;
  }
}

.block a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}

/* RECENT WORK */

.work {
  margin-top: 80px;
  border-bottom: 4px solid #242424;
}

.work .recentWork {
  overflow: hidden;
}

.work .recentWork h1 {
  font-size: 18px;
  font-weight: bold;
  padding: 0px 10px;
}

.work .recentWork img {
  padding: 0px 10px;
}

.work .workContainer {
  margin-bottom: 50px;
}

.workContainer {
  margin-top: 30px;
}

.work .lighter-paragraph {
  color: #8e8e8e;
}

.work p {
  padding: 0px 10px;
  line-height: 1.3em;
}

.work .block img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.work .portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.work .portfolio-item img {
  width: 100%;
}

.work .portfolio-item figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: ease-in-out 300ms;
}

.work .portfolio-item:hover figcaption {
  opacity: 1;
}

.work figcaption .portfolio-search {
  position: relative;
  color: black;
  font-size: 30px;
  align-self: center;
  top: 50%;
  transform: translate3D(0, -50%, 0);
  background-color: rgba(201, 201, 201, 0.5);
  padding: 20px;
  border-radius: 5px;
}

.work figcaption .portfolio-search:hover {
  color: #bdbdbd;
}

.work figcaption .portfolio-text {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.work figcaption a {
  color: #bdbdbd;
  font-size: 15px;
  text-decoration: none;
  margin: auto;
}

.work figcaption a:hover {
  color: white;
  text-decoration: none;
}

/* MEDIA QUERRIES */

/* BLOCKS */

@media (max-width: 1199px) {
  .blocks .block {
    max-width: 215px;
  }
}

@media (max-width: 991px) {
  .blocks .block {
    max-width: 100%;
    margin: 0;
  }
}

@media (max-width: 991px) {
  .blocks .block img {
    max-width: 100%;
    display: block;
  }
}
